<h1>Cocktails#index</h1>

  <%= link_to "Create a Cocktail", new_cocktail_path, class:"btn btn-primary" %>

<p>here are a list of cocktails already created!</p>
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-3">
    <li><%= link_to c.name, cocktail_path(cocktail) %></li>
    <div class="card w-100 h-100 text-center p-3 my-3">
<% end %>
