<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to "Create a Cocktail", new_cocktail_path, class:"btn btn-success" %>
      </li>
    </ul>
  </div>
</div>



<p>here are a list of cocktails already created!</p>
<div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-4">
      <div class="card text-center my-3 p-3">
       <img src="https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2094&q=80" class="card-img-top" alt="...">
    <p><%= link_to c.name, cocktail_path(c) %></p>
      </div>
    </div>
  <% end %>
</div>

