<h1 class="text-center">Cocktails#new</h1>
<p>create a new cocktail</p>

<%= simpleform_for @cocktail do |f| %>
<%= f.input :name, placeholder: "eg mojito" %>
<%= f.submit "add a cocktail", class: "btn btn-primary" %>

<% end %>
