<h1 class="text-center">Add a cocktail</h1>

<div class="addCocktail"></div>

  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, placeholder: "eg mojito" %>
  <%= f.submit "submit" %>

<% end %>
